.reset
{
    margin: 0px;
    padding: 0px;
    border: none;
}
.form
{
    position: relative;

    padding: 20px 20px;
    margin: 5% 30%;

    color: white;
    background-color: rgb(46, 46, 46);

}
.label_form
{
    grid-column: 1 / 3;

    padding-left: 5%;
    font-size: inherit;
}
.input_form
{
    grid-column: 1 / 3;
    padding: 5px 20px;
    margin: 10px 10px;
    
    background-color: black;
    border: 2px white solid;
    border-radius: 20px;
    color: inherit;
    
    
    font-size: inherit;
}
.input_form:focus 
{
    outline: none;
    border: 2px solid yellow;
}
.top_left
{
    position: absolute;
    top: 0px;
    right: 0px;
    
    background-color: transparent;
    color: white;
    font-size: 25px;
    height: 25px;
    width: 25px;
}   
.big
{
    font-size: inherit;
    background-color: tomato;
    padding: 20px 0px;
} 
.OK
{
    font-size: inherit;
    background-color: lime;
    padding: 20px 0px;  
}
    
#sign_up
{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);    
}
    #sign_up_form
    {
        font-size: 20px;
        font-family: sans-serif;
        background-color: black;
        display: grid;
        grid-template-columns: 50% 50%;
    }
        div.see_hide_pass 
        { 
            grid-column: 1 / 3;
            position: relative;
            box-sizing: border-box;
            display: flex;
            /* flex-direction: column; */
        }

            .password
            { 
                width: 100%;
                padding-right: 68px;
            }
            .place
            {
                position: absolute;
                top: 12px;
                right: 32px;

                z-index: 2;

                height: 34px;
                width: 34px;
                background: url(./see_pass.ico) transparent no-repeat;
                background-size: 34px 34px;
            }
            .slash
            {
                position: absolute;
                top: 12px;
                right: 32px;


                height: 34px;
                width: 34px;
                background: url(./slash.ico) transparent no-repeat;
                background-size: 34px 34px;                
            }
    #sign_in_form   
    {
        display: grid;
        font-size: 20px;
        font-family: sans-serif;
        background-color: black;
        grid-template-columns: 50% 50%;
    }     
    
#sign_in
{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);

}

#header 
{ 
    
} /* Có thể không cần tới */

#top_menu
{
    background: black;
    font-size: 25px;
}
.menu
{
    float: left;

    color: white;
    background: transparent;
    border: none;
    font-size: inherit;
    
    margin: 10px 20px;
}
    button.menu:hover { color: yellow; }

#search_bar
{
    position: relative;
    float: right;
    margin: 8px 20px;
}
    #textbox
    {
        background-color: black;
        border: white solid 2px;
        border-radius: 20px;
        
        width: 200px;

        padding-left: 10px;
        padding-right: 50px;
        color: white;
        font-size: inherit;
    }
        input#textbox:focus
        {
            outline: none;
            border: 2px yellow solid;
        }
    #search_icon
    {   
        
        height: 30px;
        width: 30px;
        background: transparent url(./timkiem.png) no-repeat;

        text-indent: -9999px;

        position: absolute;
        top: 2px;
        right:15px;
    }
        #search_icon:hover { background-color: gray;}

#main_menu
{
    background: linear-gradient(grey, white);
}

.logo /* có thể thay đổi */
{
    display: block;
    border: purple solid 2px;
    width: fit-content;
    color: red;
    font-size: 50px
}

#footer
{
    background: linear-gradient(white, black);
    
}
